
.todo-board {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

    position: relative;
}

.todo-board:before,
.todo-board:after {
    z-index: -1;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.todo-board.__has-content:before,
.todo-board.__has-content:after {
    content: '';
}


.todo-board:before {
    left: 8px;
    right: 8px;
    height: 8px;

}

.todo-board:after {
    left: 4px;
    right: 4px;
    height: 4px;

}


.todos-list,
.todo-board .todos-toolbar {
    display: none;
}

.todo-board.__has-content .todos-list,
.todo-board.__has-content .todos-toolbar {
    display: block;
}